/**********************************************************************************************/
/* layout css */
/**********************************************************************************************/

@import url("https://fonts.googleapis.com/earlyaccess/nanumgothic.css" );

body {
	font-family: 'Roboto Slab', 'Nanum Gothic', -apple-system,
		BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';
}

ul {
	margin: 0 auto;
}

p {
	line-height: 1.75;
}

a {
	color: #dcc2a2;
}

a:hover {
	color: #c89d6a;
}

.text-primary {
	color: #dcc2a2 !important;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	font-family: 'Roboto Slab', 'Nanum Gothic', -apple-system,
		BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';
}


/**********************************************************************************************/
/* Header css */
/**********************************************************************************************/

#mainNav {
	background-color: rgba(45, 45, 45, 1);
}

#mainNav .navbar-toggler {
	font-size: 12px;
	right: 0;
	padding: 13px;
	text-transform: uppercase;
	color: white;
	border: 0;
	background-color: #dcc2a2;
	font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand {
	position: static;
	color: #dcc2a2;
	font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus,
	#mainNav .navbar-brand:hover {
	color: #dcc2a2;
}

#mainNav .navbar-nav .nav-item .nav-link {
	font-size: 90%;
	font-weight: 400;
	padding: 0.75em 0;
	letter-spacing: 1px;
	color: #dcc2a2;
	font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
		
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover
	{
	color: #bd8b4f;
}

@media ( min-width : 992px) {
	#mainNav {
		padding-top: 25px;
		padding-bottom: 25px;
		-webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
		transition: padding-top 0.3s, padding-bottom 0.3s;
		border: none;
		background-color: rgba(45, 45, 45, 1);
		/* transparent; */
	}
	#mainNav .navbar-brand {
		font-size: 1.75em;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	}
	#mainNav .navbar-nav .nav-item .nav-link {
		padding: 1.1em 1em !important;
	}
	#mainNav.navbar-shrink {
		padding-top: 0;
		padding-bottom: 0;
		background-color: #212529;
	}
	#mainNav.navbar-shrink .navbar-brand {
		font-size: 1.25em;
		padding: 12px 0;
	}
}

/* 페이드 인/아웃 효과 */
.fade-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  
  .fade-screen.show {
	opacity: 1;
	visibility: visible;
  }

  .menu ul li {
	transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.menu-container ul li a {
	display: flex;
	display: inline-block;
	font-family: -apple-system, BlinkMacSystemFont,  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",  "Fira Sans", "Droid Sans", "Helvetica Neue",  sans-serif;
	text-decoration: none;
	font-weight: 100;
	font-size: 16px;

  }

/**********************************************************************************************/
/* Login&Register css */
/**********************************************************************************************/
#mainNav .navbar-nav .nav-item .login-button {
	background-color: #E0E0E0;
	border: none;
	border-radius: 4px;
	color: black;
	font-size: 80%;
	font-weight: 500;
	padding: 5px 10px;
	margin-right: 10px;
	margin-top: 10px;
	letter-spacing: 1px;
	font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-nav .nav-item .register-button {
	display: inline-flex;
	background-color: rgb(52, 152, 219);
    border: none;
	border-radius: 4px;
    color: white;
    font-size: 80%;
	font-weight: 500;
	padding: 5px 10px;
	margin-right: 10px;
	margin-top: 10px;
	letter-spacing: 1px;
	font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

  
/**********************************************************************************************/
/* HomeView Css */
/**********************************************************************************************/
header.masthead {
	text-align: center;
	color: white;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
	background-image: url("@/assets/imgs/header-bg.jpg");
}

header.masthead .intro-text {
	padding-top: 150px;
	padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
	font-size: 22px;
	font-style: italic;
	line-height: 22px;
	margin-bottom: 25px;
	font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';
}

header.masthead .intro-text .intro-heading {
	font-size: 50px;
	font-weight: 700;
	line-height: 50px;
	margin-bottom: 25px;
	font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@media ( min-width : 768px) {
	header.masthead .intro-text {
		padding-top: 300px;
		padding-bottom: 200px;
	}
	header.masthead .intro-text .intro-lead-in {
		font-size: 40px;
		font-style: italic;
		line-height: 40px;
		margin-bottom: 25px;
		font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont,
			'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
			'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
			'Noto Color Emoji';
	}
	header.masthead .intro-text .intro-heading {
		font-size: 75px;
		font-weight: 700;
		line-height: 75px;
		margin-bottom: 50px;
		font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
			Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
			'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	}
}


/**********************************************************************************************/
/* Footer Css */
/**********************************************************************************************/

footer {
	background-color: rgba(45, 45, 45, 1);
	padding: 25px 0;
	text-align: center;
}

footer span.copyright {
	color: #dcc2a2;
	font-size: 90%;
	line-height: 30px;
	text-transform: none;
	font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/**********************************************************************************************/
/* range */
/**********************************************************************************************/
.top-1{
	top:1px;
}
.margin-left-80{
	margin-left: 80px !important; 
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-top-13 {
	margin-top: 13px;
}
.margin-top-20 {
	margin-top: 20px;
}
.margin-top-30 {
	margin-top: 30px;
}

.margin-top-50 {
	margin-top: 50px;
}

.margin-top-100 {
	margin-top: 100px;
}

.margin-top-200 {
	margin-top: 200px;
}

.margin-top-300 {
	margin-top: 300px;
}

.bold {
	font-weight: bold;
}
