<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.care.back.comment.dao.BilCommentDao">

	<select id="getCommentList" parameterType="com.care.back.comment.dto.BilCommentDto"
	resultType="com.care.back.comment.dto.BilCommentDto"
	>
		SELECT * FROM BIL.COMMENTS WHERE POSTID = #{num} AND CATEGORY = #{category}
	</select>

</mapper>