<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.care.back.study.dao.BilStudyDao">
	<select id="getStudyList" resultType="com.care.back.study.dto.BilStudyDto">
		SELECT *, (SELECT COUNT(*) FROM COMMENTS WHERE STUDY.NUM = COMMENTS.POSTID) AS comments
		FROM BIL.STUDY AS STUDY;
	</select>
	<select id="getStudyTotal" resultType="int">
		SELECT COUNT(*) FROM BIL.STUDY
	</select>
</mapper>